[submodule "examples/third-party/imtui"]
	path = examples/third-party/imtui
	url = https://github.com/ggerganov/imtui
[submodule "examples/third-party/imgui/imgui"]
	path = examples/third-party/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "examples/third-party/ggsock"]
	path = examples/third-party/ggsock
	url = https://github.com/ggerganov/ggsock
